@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

@mixin button2() {
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

@mixin button() {
  color: white;
  font-size: 13px;
  font-weight: 700;
  padding: 8px 4px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  display: block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic", sans-serif;
  color: #222222;
}
button {
  @include button;
}

.container {
  display: flex;
  height: auto;
  overflow: hidden;
  .col {
    width: 80%;
  }
}

$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;
@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$breakpoint-desktop}) {
    @content;
  }
}
@mixin desktop2 {
  @media (max-width: #{$breakpoint-desktop + 600px}) and (min-width: #{$breakpoint-desktop + 1px}) {
    @content;
  }
}
@include mobile {
  .row {
    display: none !important;
  }
  .menu {
    overflow-x: scroll;
    nav {
      font-size: 13px;
    }
  }
  .main_logo {
    p {
      display: none;
    }
  }
  .menu_user {
    display: none !important;
  }
  .rollingbanner {
    display: none !important;
  }
}

@include tablet {
  .row {
    width: 40% !important;
    height: 247vh !important;
  }
  .col {
    width: 60% !important;
  }
  .main_logo {
    p {
      font-size: 12px !important;
    }
  }
  nav {
    font-size: 13px;
  }
  .menu_user .Login {
    font-size: 11px;
  }
  .rollingbanner {
    width: 395px;
    right: 400px;
  }
  .photo {
    margin-left: 15px;
  }
  .white-bg {
    overflow: scroll;
    .footer_main {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    .footer {
      display: flex;
    }
  }
}

@include desktop {
  .row {
    display: none;
  }
  .row_title {
    width: 40% !important;
  }
  .footer_main {
    flex-direction: column !important;
  }
  .white-bg {
    overflow: scroll;
  }
}
@include desktop2 {
  .row {
    display: none;
    width: 30% !important;
  }
  .row_title {
    width: 29% !important;
  }
  .footer_main {
    padding: 10px 178px 10px 90px !important;
  }
  .white-bg {
    overflow: scroll;
  }
}
